img {
  max-width: 700px;
  height: auto;
}

.image-board {
  /* position: relative; */
  float: left;
}

.button-board {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  /* width: 200px; */
  background-color: pink;
}
.Species-button {
  float: left;
  background-color: coral;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.Diet-button {
  background-color: green;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 180px;
}

.App-header {
  background-color: #965;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

